body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chats {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.username {
    font-weight: 800;
    display: inline;
}

.chats:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.message {
    border:#0090da solid 3px;
    border-radius: 5px;
    margin: 10px;
}

.github_handle {
    color: red;
    display: inline;
    padding: 10px;
}

.roomname {
    color: gray;
    padding: 10,0px;
    display: inline;
}